.container-card {
    border: 2px solid red;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 
}
/* .container-item-card{
     border: 2px solid #f008dc;
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     align-items: center; 
 } */
.container-img-card {
    border: 2px solid #1900ff;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    box-shadow: 5px 5px 10px black;
    margin: 0px 10px;
    background-color: var(--cor1);
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-grow: 1;
}
.img-card {
    border: 2px solid #0ee007;
   /*  width: 325px;
    height: 225px; */
    border-radius: 30px;
    width: 100%;
    height: 100%;
    flex-grow: 4;
  /*   object-fit: contain; */
   /*  width: min-content;
    height: min-content; */
   
}
.coment-card {
    border: 2px solid #d6ec0d;
    margin: 5px auto;
    text-align: center;
    word-wrap: break-word;
    font-weight: bold;
    font-size: medium;
    font-family: var(--font3);
}
@media screen and (max-width: 900px) {
    .container-card{
        flex-direction: column;
    }
    .container-img-card{
        margin: 20px auto;
    }
}