.container-topo {
  position: fixed;
  width: 100vw;
  height: 73px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(10px);
  /* background-color: var(--cor3); */
      

}

.container-logo {
  min-width: min-content;
  /*   border: 2px solid rgb(236, 133, 14); */
}

.img-logo {
  width: 140px;
  height: 140px;
  padding-top: 15px;

  /*   border: 2px solid rgb(238, 255, 0); */
}



.container-item-buttom {
  display: flex;
  flex-direction: column;
  width: min-content;
  padding: 30px;
  visibility: hidden;
}

.menu-buttom {
  /*  background-color: var(--cor1); */
  /* border-radius: 10px; */
  padding: 5px;
  border: 3px solid var(--cor1);
  border-radius: 15px;
  box-shadow: 2px 2px 1px black;
  /* font-size: 12px; */
  /* color: black; */
  /* text-shadow: 1px 1px 1px black; */
}

.menu-img-buttom {
  width: 25px;
  height: 25px;
}

/* .menu_burger {
  width: 30px;
  height: 5px;
  margin: 2px;
  border: 2px;
  border-radius: 5px;
  background-color: #0a0a0a;
  cursor: pointer;
} */
button {
  background: none;
}

.container-link-topo {
  display: flex;
  justify-content: center;
  align-items: center;
  /*  border: 2px solid rgb(17, 0, 255); */

}

.link-topo {
  font-size: 15px;
  margin: 50px;
  text-decoration: none;
  color: white;
  text-shadow: 1px 1px 3px black;

  /*  border-bottom:  2px solid var(--cor1); */
  /* border: 2px solid rgb(43, 255, 0); */

}

.dentro {
  visibility: visible;
}

.fora {
  /* visibility: hidden; */
  display: none;
}

@media screen and (max-width: 900px) {
  .container-link-topo {
    display: none;

  }

  .img-logo {
    width: 100px;
    height: 100px;
  }

  .container-topo {
    /* background-color: white; */
    box-shadow: 2px 2px 5px black;
    backdrop-filter: blur(20px);

  }

  .container-item-buttom {
    visibility: visible;
    /*   border: 2px solid red; */
  }

/*   .dentro {
    visibility: visible;
  }

  .fora {
    visibility: hidden;
  } */

  .container-footer-contato {
    position: fixed;
    top: 73px;
    width: 100vw;
    height: 20vh;
    /* background-color: var(--cor5); */
    background-color: #0f0303;
   /*  background-image: linear-gradient(rgba(75, 218, 19, 0.692), var(--cor1)); */
    display: flex;
   /*  justify-content: space-around; */
    flex-direction: row;
    justify-content: center;
    align-items: center;
  /*   border: 3px solid var(--cor1); */
   /*  box-shadow: 3px 3px 3px var(--cor1) inset; */

  }

  .container-endereco {
   /*  padding-top: 10px; */
    width: 50%;
    height: 100%;
    color: black;
   /*  border: 2px solid red; */
   /*  margin: 20px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }
  .container-contato{
    /* padding-top: 10px; */
    width: 50%;
    height: 100%;
    color: black;
   /*  border: 2px solid rgb(4, 0, 255); */
    /* margin: 20px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* flex-wrap: nowrap; */
  }
  .container-img-contato{
   /*  border: 2px solid rgb(235, 252, 6); */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* align-items: center; */
  }
  .img-contato{
    /* border: 2px solid rgb(221, 230, 236); */
    width: 30px;
    height: 30px;
    margin: 0px 10px;
    box-shadow: 2px 2px 4px black;
  }
  .title-footer-contato{
    font-size: 1.0em;
    font-family: var(--font3);
    /* color: var(--cor1); */
    color: white;
    /* text-shadow: 3px 1px 2px black; */
    
  }
  .item-span{
    font-family: var(--font3);
    font-size: 0.6em;
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 0px;
  }
  
}
@media (min-width: 901px) and (max-width:2000px){
  .container-footer-contato{
  position: fixed;
  top: 73px;
  width: 100vw;
  height: 20vh;
  /* background-color: var(--cor5); */
  background-color: #0f0303;
 /*  background-image: linear-gradient(rgba(75, 218, 19, 0.692), var(--cor1)); */
  display: flex;
 /*  justify-content: space-around; */
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
}