.container-topo {
    position: fixed;
    width: 100vw;
    height: 73px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: var(--cor3); */
/*     border: 2px solid red; */
   
}
.container-logo{
   min-width: min-content;
  /*   border: 2px solid rgb(236, 133, 14); */
}
.img-logo{
    width: 140px;
    height: 140px;
    padding-top: 15px;

  /*   border: 2px solid rgb(238, 255, 0); */
}
.container-link-topo{
   display: flex;
   justify-content: center;
   align-items: center;
  /*  border: 2px solid rgb(17, 0, 255); */
 
}
.link-topo{
    font-size: 15px;
    margin: 50px;
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 3px black;
   
   /*  border-bottom:  2px solid var(--cor1); */
    /* border: 2px solid rgb(43, 255, 0); */

}
@media screen and (max-width: 550px){
  .container-link-topo{
    display: none;
  }
  .img-logo {
    width: 100px;
    height: 100px;
  }
}