.container-topo {
  position: fixed;
  width: 100vw;
  height: 73px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(10px);
}

.container-logo {
  min-width: min-content;
  /*   border: 2px solid rgb(236, 133, 14); */
}

.img-logo {
  width: 140px;
  height: 140px;
  padding-top: 15px;
  /*   border: 2px solid rgb(238, 255, 0); */
}

.container-item-buttom {
  display: flex;
  flex-direction: column;
  width: min-content;
  padding: 30px;
  visibility: hidden;
}

.menu-buttom {
  padding: 5px;
  border: 3px solid var(--cor1);
  border-radius: 15px;
  box-shadow: 2px 2px 1px black;
}

.menu-img-buttom {
  width: 25px;
  height: 25px;
}

/* .menu_burger {
  width: 30px;
  height: 5px;
  margin: 2px;
  border: 2px;
  border-radius: 5px;
  background-color: #0a0a0a;
  cursor: pointer;
} */
button {
  background: none;
}

.container-link-topo {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /*  border: 2px solid rgb(17, 0, 255); */
}

.link-topo {
  font-size: 15px;
  margin: 50px;
  text-decoration: none;
  color: white;
  text-shadow: 1px 1px 3px black;
  /* border: 2px solid rgb(43, 255, 0); */
}

.dentro {
  visibility: visible;
}

.fora {
  /* visibility: hidden; */
  display: none;
}

@media screen and (max-width: 900px) {
  .container-link-topo {
    display: none;
  }

  .img-logo {
    width: 100px;
    height: 100px;
  }

  .container-topo {
    /* background-color: white; */
    box-shadow: 2px 2px 5px black;
    backdrop-filter: blur(20px);
  }

  .container-item-buttom {
    visibility: visible;
    /*   border: 2px solid red; */
  }

  .container-footer-contato {
    position: fixed;
    top: 73px;
    width: 100vw;
    height: 20vh;
    background-color: #0f0303;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .container-endereco {
    width: 50%;
    height: 100%;
    color: black;
    /*  border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }

  .container-contato {
    width: 50%;
    height: 100%;
    color: black;
    /*  border: 2px solid rgb(4, 0, 255); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .container-img-contato {
    /* border: 2px solid rgb(235, 252, 6); */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-top: 5px;
  }

  .img-contato {
    /* border: 2px solid rgb(221, 230, 236); */
    width: 38px;
    height: 38px;
    margin: 0px 10px;
    box-shadow: 2px 2px 4px black;
  }

  .title-footer-contato {
    font-size: 1.2em;
    font-family: var(--font3);
    color: white;
  }

  .item-span {
    font-family: var(--font3);
    font-size: 0.8em;
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 0px;
  }
}

@media (min-width: 901px) and (max-width:2000px) {
  .container-footer-contato {
    position: fixed;
    top: 73px;
    right: 0px;
    width: 20vw;
    height: 30%;
    background-color: var(--cor5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid green; */
    border-radius: 60px 0px 0px 60px;
    box-shadow: 5px 5px 10px black;
  }

  .container-endereco {
    width: 100%;
    height: 100%;
    color: black;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }

  .container-contato {
    width: 100%;
    height: 100%;
    /* border: 2px solid rgb(4, 0, 255); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .img-contato {
    /* border: 2px solid rgb(221, 230, 236); */
    width: 38px;
    height: 38px;
    margin: 0px 10px;
  }

  .title-footer-contato {
    font-size: 1.2em;
    font-family: var(--font3);
    color: black;
  }

  .item-span {
    font-family: var(--font3);
    font-size: 0.8em;
    color: white;
    color: black;
    text-align: center;
    font-weight: bold;
    padding: 0px;
  }

  .link-topo-buttom {
    font-size: 15px;
    margin: 50px;
    color: white;
    text-shadow: 1px 1px 3px black;
    border: none;
    cursor: pointer;
  }
}