.container-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: auto;
    color: white;
}
.coment-footer{

}
.container-img-footer{

}
.img-item-footer{
    width: 40px;
    height: 40px;
}