.container-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: auto;
    color: white;
}
.img-item-footer{
    width: 60px;
    height: 60px;
}
p{
    font-size: small;
    padding-bottom: 10px;
    font-family: var(--font2);
}